@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-apple-bg text-apple-text font-sans antialiased;
  -webkit-tap-highlight-color: transparent;
}

/* 隱藏數字輸入框的上下箭頭 */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}